* {
    background-color: #6D9BBC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bk_title {
    text-align: center;
    font-size: 30px;
}

#author {
    font-size: 20px;
    text-align: center;
}

#chapter_num{
    background-color: whitesmoke;
    text-align: center;
}

li.line {
    background-color: whitesmoke;
    list-style-type: none;
    padding-left: 10px;
    width: 900px;
    
}

#contents_box{
    float: left;
    width: 930px;
    height: 500px;
    padding-left: 8px;
    overflow-y: scroll;
    background-color: whitesmoke;
    margin: 0;
}

.content {
    display: inline;
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    justify-content: left;
}

#control_box{
    border: 2px solid whitesmoke;
    border-radius: 2px;
    float: right;
    width: 300px; 
    height: 500px;
    margin-right: 8px;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    text-align: center;

}

.line:hover{
    color: #113434;
}

#control_box button{
    margin: 2px;
    color: whitesmoke;
    border-color: whitesmoke;
    border-radius: 4px;   
}

#control_box button:hover{
    background-color: #113434;
}

.chapter_control{
    font-size: auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 150px;
    height: 30%;
}

.chapter_control a{
    align-items: center;
    justify-items: center;
    text-align: center;
    background: none;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    text-decoration-line: none;
}

.chapter_control a :hover{
    background-color: #113434;
}

.nav ul{
    height: auto;
    width: auto;
    text-align: center;
    top: 10%;
    list-style: none;
    list-style-type: none;
}

.nav ul li{
    display: inline-block;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    list-style-type: none;
}

.nav ul li a{
    color: whitesmoke;
    text-decoration-line: none;
}

.nav ul li a:hover{
    color: #113434;
}
